.App {
  text-align: center;
}

.App-header {
  background-color: #F8A910;
  height: 100px;
  padding: 20px;
  color: white;
}

#content {
  margin: 0 auto;
  max-width: 70%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.primary {
  color: #F8A910;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-item {
  max-width: 70%;
}

@media only screen and (max-width: 600px) {
  .App {
    text-align: left;
  }

  .App-header {
    display: none;
  }

  #content {
    margin: 1em;
    max-width: inherit;
  }

  .container {
    display: block;
    margin-bottom: 2em;
  }

  .container-item {
    max-width: inherit;
  }

  a {
    font-size: 98%;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
  }
}
